@use "../../../../assets/styles/variables" as v;
@use "../../../../assets/styles/functions" as f;

.c-product-ratings {
	height: fit-content;

	&__link {
		text-decoration: none;
	}

	&__stars {
		color: v.$plp-rating-star-color;
		font-size: f.rem(24px);
	}

	&__total-reviewers {
		color: v.$quick-view-rating-total-reviewers;
	}
}
