@use "core";
@use '../../functions' as f;

$_main-button-background-color: black;
$_main-button-text-color: white;

.t-black-btn {
	border-color: $_main-button-background-color;
	background: $_main-button-background-color;
	color: $_main-button-text-color;
}
