$font-weights: (
	light: 300,
	regular: 400,
	medium: 500,
	semiBold: 600,
	bold: 700
);

$colours: (
	offBlack: #363638,
	grey: #484849,
	grey1: #5c5c5c,
	grey3: #757575,
	grey2: #979797,
	grey4: #f3f3f7,
	neutralGrey: #f3f3f7,
	offWhite: #ddd,
	white: white,
	black: black,
	lightGrey: #cccccc,
	whisper: #e4e4e4,
	sunGlow: #ffc439,
	pantone: #7c6992,
	silver: #c6c4c4,
	onSale: #ba3737,
	error: #da291c,
	green: #33db41,
	dividerGrey: #d0cdc7,
	textColour: #4d4d4f
);
